# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE-specific files
.classpath
.project
.settings/
.idea/

# Maven/Gradle build directories
target/
build/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db